<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/sha1.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/sticky.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/awesome.js"></script>
    <script>
        function validateEmail(email) {
            var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase());
        }
        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    name: '',
                    email: '',
                    password1: '',
                    password2: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');
                        if (! this.name.trim()) {
                            alert('请输入用户名');
                            return;
                        }
                        if (! validateEmail(this.email.trim().toLowerCase())) {
                            alert('请输入正确的Email地址');
                            return;
                        }
                        if (this.password1.length < 6) {
                            alert('口令长度至少为6个字符');
                            return;
                        }
                        if (this.password1 !== this.password2) {
                            alert('两次输入的口令不一致');
                            return;
                        }
                        var email = this.email.trim().toLowerCase();
                        $form.postJSON('/api/users', {
                            name: this.name.trim(),
                            email: email,
                            passwd: CryptoJS.SHA1(email + ':' + this.password1).toString()
                        }, function (err, r) {
                            if (err) {
                                alert(err);
                            }
                            return location.assign('/');
                        });
                    }
                }
            });
            $('#vm').show();
        });

    </script>
</head>
<body>
<div class="main">
    <div class="header">
        <h1 class="logo"></h1>
        <h2 class="title">欢迎来到这里</h2>
    </div>
    <div class="body">
        <div class="signup">
            <form id="vm" v-on="submit: submit">
                <div class="group-inputs">
                    <input v-model="name" class="name" type="text" placeholder="姓名">
                    <input v-model="email" type="text" placeholder="邮箱">
                    <input v-model="password1" type="password" placeholder="密码(不少于六位)">
                    <input v-model="password2" type="password" placeholder="请再一次输入密码">
                </div>
                <button type="submit">注册</button>
            </form>
            <div class="signin-foot">
                    <span class="signin-duty">
                        注册即代表你同意
                        <a href="#">《协议》</a>
                    </span>
            </div>
        </div>
    </div>
</div>
</body>