<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/sha1.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/sticky.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/awesome.js"></script>
    <script>
$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/');
                    }
                });
            }
        }
    });
});
    </script>
</head>
<body>
<div class="main">
    <div class="header">
        <h1 class="logo"></h1>
        <h2 class="title">与世界分享你的知识、经验和见解</h2>
    </div>
    <div class="body">
        <div class="signin">
            <form id="vm" v-on="submit: submit">
                <div class="group-inputs">
                    <input v-model="email" type="text" placeholder="手机号或邮箱">
                    <input v-model="passwd" type="password" placeholder="密码">
                </div>
                <button type="submit">登录</button>
            </form>
            <div class="signin-other">
                    <span class="remember">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">记住我</label>
                    </span>
                <a href="/register" class="unable-signin">注册账号</a>
            </div>
        </div>
    </div>
</div>
</body>