<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %} {% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp </title>
    <link rel="stylesheet" href="../static/css/uikit.min.css">
    <link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="../static/css/awesome.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/sha1.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/sticky.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/awesome.js"></script>
    {% block beforehead %} {% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom" style="background-color: #00a8e6">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">MyBlog</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i>首页</a></li>
                <li><a target="_blank" href="https://github.com/"><i class="uk-icon-search"></i>发现</a></li>
                <li><a target="_blank" href="/"><i class="uk-icon-code"></i>源码</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if user %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ user.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/blogs/create"><i class="uk-icon-book"></i>日志添加</a></li>
                                <li><a href="/blogs"><i class="uk-icon-align-left"></i>日志管理</a></li>
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 退出登录</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登录</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="uk-margin-large-top" style="background-color: #eee;border-top: 1px solid #cccccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="https://www.qlu.edu.cn" class="uk-icon-button uk-icon-globe"></a>
                    <a target="_blank" href="https://github.com/Lvconl" class="uk-icon-button uk-icon-github"></a>
                </p>
                <p>Powered by <a href="mailto:835132735@qq.com">lvconl</a>Copyright @copy; 2018.</p>
                <p><a href="https://github.com/Lvconl" target="_blank">lvconl</a>.All right reserved.</p>
                <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="uk-icon-html5" style="font-size: 64px;color: #444"></i></a>
            </div>
        </div>
    </div>
</body>
</html>